#add-item-button {
  width: 90px;
  padding: 5px;
  line-height: 28px;
  font-size: 17px;
  border: 2px solid transparent;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

#add-item-button:hover,
#add-item-button:focus {
  border-color: rgba(139, 220, 255, 0.4);
  background-color: #232323;
}
